.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aaa;
  padding: 5px;
  line-height: 0;
}

.header > div {
  display: flex;
  align-items: center;
}

.title {
  /* background-color: red; */
  font-weight: 700;
  line-height: 30px;
  font-size: 30px;
  vertical-align: top;
}

.settingBtn {
  border: none;
  padding: 0;
  background: none;
  height: 30px;
}

.modal {
  padding: 0.4rem;
}

.modal > form {
  display: flex;
  flex-direction: column;
}

.modal label,
.checkboxContainer {
  margin-top: 0.7rem;
  margin-bottom: 0.4rem;
}

.modal h1 {
  text-align: center;
  margin: 0;
}

.modal select {
  padding: 0.4rem;
  background-color: rgb(177, 191, 255);
  border: none;
  border-radius: 0.4rem;
  font-weight: 700;
}

.modal div {
  display: flex;
  margin: 0 auto;
}

.modal button {
  flex-grow: 1;
  margin-top: 0.7rem;
  padding: 0.7rem;
  background-color: rgb(108, 135, 255);
  border: none;
  border-radius: 0.4rem;
  font-weight: 700;
}

.modal button:hover {
  background-color: rgb(146, 166, 255);
}

.modal button:active {
  background-color: rgb(46, 84, 255);
}

.modal button:nth-of-type(2) {
  margin-left: 1rem;
}
