.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aaa;
  padding: 5px;
  line-height: 0;
}

.header > div {
  display: flex;
  align-items: center;
}

.header button {
  margin-left: .8rem;
  background: none;
  border: none;
  color: rgb(48, 48, 48);
  font-weight: 600;
  cursor: pointer;
}

.header button:hover {
  color: rgb(99, 99, 99);
}

.header button:disabled {
  color: rgb(99, 99, 99);
}

.title {
  /* background-color: red; */
  font-weight: 700;
  line-height: 30px;
  font-size: 30px;
  vertical-align: top;
}

.settingBtn {
  font-size: 30px;
}

.settingBtn:hover {
  color: #fff;
}

.settingBtn:active {
  color: #acacac;
}

.modal {
  padding: .4rem;
}

.modal > form {
  display: flex;
  flex-direction: column;
}

.modal label, .checkboxContainer {
  margin-top: .7rem;
  margin-bottom: .4rem;
}

.modal h1 {
  text-align: center;
  margin: 0;
}

.modal select {
  padding: .4rem;
  background-color: rgb(177, 191, 255);
  border: none;
  border-radius: .4rem;
  font-weight: 700;
}

.modal div {
  display: flex;
  margin: 0 auto;
}

.modal button {
  flex-grow: 1;
  margin-top: .7rem;
  padding: .7rem;
  background-color: rgb(108, 135, 255);
  border: none;
  border-radius: .4rem;
  font-weight: 700;
}

.modal button:hover {
  background-color: rgb(146, 166, 255);
}

.modal button:active {
  background-color: rgb(46, 84, 255);
}

.modal button:nth-of-type(2) {
  margin-left: 1rem;
}