html, body, #root {
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 65, 28);
}

.game {
  position: relative;
  margin: 0 auto;
}

.stack {
  position: absolute;
  background-color: rgb(0, 65, 28);
  border-radius: 10px;
}

.selectedPile {
  filter: brightness(85%);
}



